/* ======================
   DOKUMENTASI SISTEM
====================== */

.doc-image {
    margin-top: 30px;
    text-align: center;
}

.doc-image img {
    width: 100%;
    max-width: 700px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.doc-image figcaption {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #555;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* VIDEO */
.video-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.video-caption {
    text-align: center;
    font-size: 0.95rem;
    color: #555;
    margin-top: 10px;
}
